.mosaic-loader {
  --cell-size: 10px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
  position: relative;
}
.mosaic-loader > .cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  -webkit-animation: 1.5s ripple ease infinite;
          animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-of-type(1) {
  --cell-color: #6967ce;
}
.mosaic-loader > .cell:nth-of-type(2) {
  --cell-color: #6967ce;
}
.mosaic-loader > .cell:nth-of-type(3) {
  --cell-color: #6967ce;
}
.mosaic-loader > .cell:nth-of-type(4) {
  --cell-color: #6967ce;
}
.mosaic-loader > .cell:nth-of-type(5) {
  --cell-color: #fd636b;
}
.mosaic-loader > .cell:nth-of-type(6) {
  --cell-color: #fd636b;
}
.mosaic-loader > .cell:nth-of-type(7) {
  --cell-color: #fd636b;
}
.mosaic-loader > .cell:nth-of-type(8) {
  --cell-color: #fd636b;
}
.mosaic-loader > .cell:nth-of-type(9) {
  --cell-color: #ffb900;
}
.mosaic-loader > .cell:nth-of-type(10) {
  --cell-color: #ffb900;
}
.mosaic-loader > .cell:nth-of-type(11) {
  --cell-color: #ffb900;
}
.mosaic-loader > .cell:nth-of-type(12) {
  --cell-color: #ffb900;
}
.mosaic-loader > .cell:nth-of-type(13) {
  --cell-color: #3be8b0;
}
.mosaic-loader > .cell:nth-of-type(14) {
  --cell-color: #3be8b0;
}
.mosaic-loader > .cell:nth-of-type(15) {
  --cell-color: #3be8b0;
}
.mosaic-loader > .cell:nth-of-type(16) {
  --cell-color: #3be8b0;
}
.mosaic-loader:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -1;
  width: 104%;
  height: 10px;
  background-color: #f7f6fb;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.mosaic-loader span {
  position: absolute;
  top: -6px;
  width: 4px;
  height: 4px;
  z-index: 10;
  border-radius: 50%;
  border: 1px solid #000;
}
.mosaic-loader span:nth-child(1) {
  left: 22%;
}
.mosaic-loader span:nth-child(2) {
  left: 71%;
}
.fullpage-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.4);
}
.center-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
@-webkit-keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.3em;
  margin-right: 0.3em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #6967ce;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #6967ce;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
input[type=textarea] {
  overflow: auto;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid #9b9b9b !important;
  outline: none;
}
input[type=textarea] :focus-visible {
  border: none !important;
  border-bottom: 1px solid #9b9b9b !important;
}
#auth-card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-opacity-0 {
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out !important;
}
.btn-opacity-1 {
  opacity: 1;
}
.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  width: 22rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input_group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.input_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  padding: 7px 0;
  color: #444;
  background: transparent;
  transition: border-color 0.2s;
}
.input_field::-moz-placeholder {
  color: transparent;
}
.input_field:-ms-input-placeholder {
  color: transparent;
}
.input_field::placeholder {
  color: transparent;
}
.input_field:-moz-placeholder-shown ~ .input_label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}
.input_field:-ms-input-placeholder ~ .input_label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}
.input_field:placeholder-shown ~ .input_label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}
.input_field.active {
  padding-bottom: 6px;
  border-width: 1px;
  border-color: #3be8b0;
}
.input_field.active ~ .input_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: #3be8b0;
  font-weight: 600;
}
.input_field.invalid {
  border-color: #fd636b;
}
.input_field.invalid ~ .input_label {
  color: #fd636b;
}
.input_field:required,
.input_field:invalid {
  box-shadow: none;
}
.input_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.input-error {
  color: #fd636b;
  font-size: 12px;
}
.radio {
  color: #444;
}
.radio >label {
  color: #9b9b9b;
}
.selectize-control {
  width: 100% !important;
}
span.error {
  color: #fd636b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
  display: none;
}
span.error::before {
  content: '';
  display: block;
  width: 100%;
  background-color: #fd636b;
  height: 1px;
  transition: width 0.3s;
}
.brand-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 19px;
}
.brand-wrapper .logo {
  height: 37px;
}
.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172,168,168,0.43);
  overflow: hidden;
}
.login-card .card-body {
  padding: 85px 60px 60px;
}
.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}
.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}
.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::placeholder {
  color: #919aa3;
}
.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}
.login-card .login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}
.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}
.login-card-img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}
.login-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px;
}
.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .login-card-footer-text {
    margin-bottom: 24px;
  }
}
.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #6967ce;
  --first-color-light: #f7f6fb;
  --green-color: #3be8b0;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
.main-container {
  margin-top: 66px;
  max-height: 97vh;
  min-height: 87vh;
  height: 87vh;
}
.main-container >.card {
  height: 100%;
  overflow: auto;
  box-shadow: rgba(0,0,0,0.25) 0px 54px 55px, rgba(0,0,0,0.12) 0px -12px 30px, rgba(0,0,0,0.12) 0px 4px 6px, rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px;
}
#eventEditTooltip {
  display: none;
}
.tippy-box {
  background-color: #6967ce;
  color: #f7f6fb;
  padding: 0.5rem;
  box-shadow: rgba(0,0,0,0.25) 0px 54px 55px, rgba(0,0,0,0.12) 0px -12px 30px, rgba(0,0,0,0.12) 0px 4px 6px, rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px;
  border-radius: 3%;
}
.tippy-box > .tippy-svg-arrow {
  fill: #6967ce;
}
.clr-picker.clr-open,
.clr-picker[data-inline=true] {
  z-index: 9999;
}
.color-field {
  opacity: 0;
  width: 3rem;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
a {
  text-decoration: none;
}
main {
  height: 100%;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
  text-decoration: none;
}
.nav_logo-icon {
  width: 1.5rem;
  color: var(--green-color);
}
.nav_logo-name {
  color: var(--first-color-light);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--green-color);
}
.nav_link.active {
  color: var(--green-color);
}
.nav_link.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--green-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.height-100 {
  height: 100vh;
}
ul.nav {
  height: unset !important;
}
.calendar-list .calendar {
  border-left: 4px solid #3be8b0;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.calendar-list .calendar:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
  border-left-color: #6967ce;
}
.short-text-100 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}
.short-text-120 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 125px;
}
.short-text-200 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
.short-text-350 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}
.short-multiline-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  line-clamp: var(--lines);
  -webkit-box-orient: vertical;
}
.blod-text {
  font-weight: bold !important;
}
.text {
  color: #444;
  font-size: 1rem;
}
.cursive-gray-text {
  font-style: italic;
  font-size: 12px;
  color: #acacac;
}
.grey-text {
  color: #acacac;
}
.font-medium {
  font-size: 20px;
}
.green-text {
  color: #3be8b0 !important;
}
.c-link {
  font-size: 14px;
  color: #9b9b9b;
  transition: color 0.3s;
  text-decoration: none;
}
.c-link:hover {
  transition: color 0.3s;
  color: #3be8b0 !important;
}
.verification-mail-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.floating-container {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30px;
  right: 10px;
}
.floating-container:hover .floating-button {
  transition: box-shadow 0.2s, font-size 0.3s;
  font-size: 30px;
  box-shadow: 0 10px 25px #6967ce;
}
.floating-container .floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  width: 65px;
  height: 65px;
  background: #6967ce;
  transition: box-shadow 0.2s;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  line-height: 65px;
  text-align: center;
  font-size: 25px;
  z-index: 99;
  box-shadow: 0 10px 25px -5px #6967ce;
  cursor: pointer;
}
.adminActions {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 99;
}
.adminActions a i,
.adminActions button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.adminActions button {
  border: 0;
}
.adminButton {
  height: 60px;
  width: 60px;
  background-color: #6967ce;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
.adminButton i {
  font-size: 22px;
}
.adminButtons {
  position: absolute;
  width: 100%;
  bottom: 120%;
  text-align: center;
}
.adminButtons a,
.adminButtons button {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  margin: 10px auto 0;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(51,51,51,0.3);
}
.adminButtons a:nth-child(1),
.adminButtons button:nth-child(1) {
  background-color: #6967ce;
  color: #f7f6fb;
  transition: opacity 0.2s ease-in-out 0.3s, transform 0.15s ease-in-out, color 0.3s;
}
.adminButtons a:nth-child(2),
.adminButtons button:nth-child(2) {
  background-color: #6967ce;
  color: #f7f6fb;
  transition: opacity 0.2s ease-in-out 0.25s, transform 0.15s ease-in-out, color 0.3s;
}
.adminButtons a:hover,
.adminButtons button:hover {
  color: #3be8b0;
  transition: color 0.3s;
  transform: scale(1.05);
}
.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 3px 5px 1px rgba(51,51,51,0.3);
}
.adminToggle:hover {
  box-shadow: 0 3px 6px 2px rgba(51,51,51,0.3);
}
.adminToggle:checked ~ .adminButtons a,
.adminToggle:checked ~ .adminButtons button {
  opacity: 1;
  visibility: visible;
}
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}
.btn-save {
  color: #f7f6fb !important;
  background-color: #6967ce !important;
  transition: transform 0.3s !important;
}
.btn-save:hover {
  color: #3be8b0 !important;
  transition: transform 0.3s !important;
  transform: scale(1.1);
}
.btn-default {
  color: #f7f6fb !important;
  background-color: #6967ce !important;
  transition: color 0.3s !important;
}
.btn-default:hover {
  color: #3be8b0 !important;
  transition: color 0.3s !important;
}
.btn-tab {
  background-color: #f7f6fb !important;
  color: #444 !important;
}
.btn-tab.active {
  background-color: #6967ce !important;
  color: #f7f6fb !important;
}
.btn-edit {
  background-color: #f7f6fb !important;
  color: #6967ce !important;
}
.btn-edit:hover {
  transition: color 0.3s;
  color: #3be8b0 !important;
}
.btn-edit-popup {
  background-color: transparent !important;
  color: #f7f6fb !important;
}
.btn-delete {
  background-color: #fff !important;
}
.btn-delete:hover {
  color: #fd636b !important;
}
.btn-delete-popup {
  color: #f7f6fb !important;
  background-color: transparent !important;
}
.swal2-confirm {
  background-color: #6967ce !important;
}
.swal2-confirm:focus {
  outline: unset !important;
  box-shadow: unset !important;
}
.swal2-cancel {
  background-color: #fd636b !important;
}
.swal2-cancel:focus {
  outline: unset !important;
  box-shadow: unset !important;
}
.category {
  width: 100%;
  padding: 10px 0px;
  background-color: #f7f6fb;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  border-left: 4px solid #3be8b0;
  margin-top: 1.3rem;
  transition: box-shadow 0.3s ease-in-out;
  transition: border-left-color 0.3s ease-in-out;
}
.category:hover {
  border-left-color: #6967ce;
  transition: box-shadow 0.3s ease-in-out, border-left-color 0.3s ease-in-out;
  box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
}
.export_events td.color {
  position: relative;
}
.export_events td.color:after {
  content: '';
  background-color: var(--color);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translate(10%, -50%);
}
.export_events.table>:not(caption)>*>* {
  padding: 1rem 0.5rem 0;
}
.overflow-box {
  overflow: auto;
}
#v-pills-tabContent {
  width: 100% !important;
}
#v-pills-tabContent >div {
  width: 100% !important;
}
.popup-event-info {
  margin: 0 !important;
  padding: 0.5rem !important;
}
.popup-event-info li {
  display: flex;
  gap: 1rem;
}
.fc .fc-col-header-cell-cushion,
.fc-daygrid-day-number {
  color: #444 !important;
}
.fc-view-harness.fc-view-harness-active {
  height: 100vh !important;
}
.fc .fc-button {
  color: #f7f6fb !important;
  background-color: #6967ce !important;
  transition: color 0.3s !important;
  border: none;
}
.fc .fc-button:hover {
  color: #3be8b0 !important;
  transition: color 0.3s !important;
}
.fc .fc-button:focus {
  outline: unset !important;
  box-shadow: unset !important;
}
.fc-timegrid-slot {
  background-color: #f7f6fb !important;
}
.fc-toolbar-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
}
.fc-daygrid-event-harness a {
  color: #444 !important;
}
.tox.tox-tinymce {
  width: 97% !important;
}
@media screen and (min-width: 768px) {
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .l-navbar.show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
@media (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }
  .fc-toolbar.fc-header-toolbar .fc-left {
    order: 3;
  }
  .fc-toolbar.fc-header-toolbar .fc-center {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-right {
    order: 2;
  }
}
@-webkit-keyframes come-in {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

