@import './colors.styl';
@import './mixins.styl';
@import './loader.styl';
@import './login.styl';

#eventEditTooltip
    display  none

.tippy-box
    background-color tomato
    color yellow
    > .tippy-svg-arrow
        fill tomato
